*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--text-color);
  font-size: 1.6 rem;
  font-family: "Gordita", sans-serif;
  background: var(--body-bg);
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  background: transparent;
}

// reset
button,
select,
textarea,
input {
  font-family: inherit;
  color: inherit;
}

.icon {
  filter: var(--icon-color);
}
